---
const carta = ["Bocadillos", "Platos Combinados", "Postres", "Bebidas"];
---

<div class="comida">
  {carta.map((item) => (
    <div class="info-comida">
      <h3>{item}</h3>
    </div>
  ))}
</div>
